{% extends "base.html" %}
{% block title %}Post Job | FreelanceHub{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">

        <div class="card shadow-sm">
            <div class="card-body">

                <h4 class="text-center fw-bold mb-4">Post a New Job</h4>

                <form method="post">
                    {% csrf_token %}

                    <input type="text" name="title"
                           class="form-control mb-3"
                           placeholder="Job Title" required>

                    <textarea name="description"
                              class="form-control mb-3"
                              rows="4"
                              placeholder="Job Description" required></textarea>

                    <input type="number" name="budget"
                           class="form-control mb-3"
                           placeholder="Budget" required>

                    <textarea name="skills_required"
                              class="form-control mb-3"
                              rows="3"
                              placeholder="Skills Required (Python, Django)"
                              required></textarea>

                    <input type="date" name="deadline"
                           class="form-control mb-4" required>

                    <button class="btn btn-success w-100">
                        Post Job
                    </button>
                </form>

            </div>
        </div>

    </div>
</div>
{% endblock %}
